* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: 'Helvetica', sans-serif;

}


.main-nav button {
  min-width: 100px;
  font-size: 24px;
  border: none;
  padding: 16px 32px;
}

.container {
  border: 1px solid black;
}
.hours-list{
  font-family: 'Helvetica', sans-serif;
}

.hours-box{
  border:1px solid black;
  width: 30%;
  border-radius: 10px;
  padding: 20px;
}

#store-hours-container{
  display: flex;
  justify-content: flex-end;
}

ul {
  list-style-type: none;
}

.title{
  font-family: 'Helvetica', sans-serif;
}